#modal-menu.modal
  .modal-content
    ul.mobile-menu
      //- li.mobile-menu-item
        a.menu-link(
          href="#video-problem"
        ) Problem
          .line
      //- li.menu-item.menu-element
        a.menu-link(
          href="#video-vision"
        ) Vision
          .line
      li.mobile-menu-item
        a.menu-link(
          href="#product"
        ) Product
          .line
      li.mobile-menu-item
        a.menu-link(
          href="#xana"
        ) Xana
          .line
      li.mobile-menu-item
        a.menu-link(
          href="#dapps"
        ) Dapps
          .line
      li.mobile-menu-item
        a.menu-link(
          href="#team"
        ) Team
          .line
      li.mobile-menu-item
        a.menu-link(
          href="#contacts"
        ) Contacts
          .line
      li.mobile-menu-item
        a.modal-link(
          href="#modal-faq"
        ) FAQ
          .line