#modal-terms.modal
  .modal-content
    .modal-wrap
      .heading Terms of use and service
      p.text This website and related services constitute the property of and are managed by Nodio Technologies LLP.
      p.text All the users fully acknowledge that any use of this website and any use of our services shall be carried out in accordance with this Terms of Use and Service (hereinafter - the Terms).
      ol.article
        li General provisions
          ol
            li We reserve the right to change the terms at any time and at our sole discretion. Any changes regarding your use of the services will take effect from the date of their publication on the website. Being provided with your e-mail we will also notify you by e-mail about all and any changes to the Terms.
            li All the users are responsible for a careful reading of the Terms before using the website. Continued use of the website means that the user takes all the responsibility for compliance herewith.

        li Definitions
          ol
            li All the references to the "Company", "us", "our" or "NODIO" mean Nodio Technologies - a company incorporated under the laws of England, with registered address: 34 South Molton Street, London, UK, W1K 5RG, registered number OC413520.
            li All the references to "you", "your" or "user" mean the person or persons who use https://nodio.net (hereinafter - the Website) and / or use the services via the Website.
            li All the references to the "Website" include a link to all URL and are managed by the Company.
            li The Working Day – is a day of the week, except for public holidays, Saturday or Sunday, in the United Kingdom of Great Britain and Northern Ireland.
            li The Services – is any function provided by us through the Website or other local means (office phone, etc.), including, without limitation: the sale of the Company's products, information on the Company’s services.
            li The Communication – is communication by e-mail or by any other means.
            li The Conditional Date of Receipt – the Working Day of the Company. This means that the day of the Communication is considered to be the date of receipt by the Company, if such Communication is made within the working hours of the Company - from 9:00 am to 6:00 pm BST Time zone. Otherwise - the next Working Day at 9:00 am London time.
            li Force-majeure – means any event beyond the control of the Company, including, but not limited to: flooding, extreme weather conditions, earthquake or other natural disaster, fire, war, insurrection, riot, labor dispute, accident, action of government, power failure or a hardware or software failure.

        li Legal capacity
          ol
            li You agree and acknowledge that:
              ol.alpha
                li you have reached the age of individual legal capacity;
                li you have not been previously deprived of the right to use our services.
            li If you use the services on behalf of a legal entity, you claim and warrant that:
              ol.alpha
                li such legal entity is duly incorporated and existing under the laws of the jurisdiction of its incorporation, and
                li you are an authorized representative of such legal entity.

        li Jurisdiction, territorial restrictions and independence
          ol
            li These Terms and conditions of use of the Website and Services is governed by and construed in accordance with English Law. Any dispute arising in respect to these Terms or your use of the Website or Services will be resolved exclusively in court. Nothing in these Terms shall be considered as violation of your statutory rights under English Law.
            li If any section of these Terms is recognized by any court of the United Kingdom of Great Britain and Northern Ireland, to be invalid or unenforceable in whole or in part, these Terms shall not be affected when determining the validity or enforceability of the other sections hereof. Any headings contained in this Terms, are listed for informational purposes only, and may not be enforceable.


        li Confidentiality and security
          ol
            li Please refer to our Privacy Policy at the following link 
              a.link(
                href="https://nodio.net/#contacts"
                title="Contacts"
                target="_blank"
                ) https://nodio.net/#contacts.
            li We take all the reasonable measures to protect your personal information. Nevertheless, we cannot guarantee the security of any information you provide online. You take your own security risks, providing information through the Internet, and we are not responsible for any breach of security unless it occurred due to our proven negligence.

        li Liability and damages
          ol
            li You understand and acknowledge that there exist a number of risks associated with the use of our Website, as well as the risk of failure of hardware, software, and Internet connection, the risk of malicious software implementation, as well as the risk that third parties may gain unauthorized access to the information stored on the Website. You acknowledge and agree that the Company will not be responsible for any communication errors, failures, errors, distortions or delays that may occur when using the Website.
            li We will take measures to ensure the accuracy of any information on the Website, but we make no representations or warranties of any kind, either expressed or implied by law or otherwise in relation to the content of the Website, information and functions available via the Website, any hyperlinks to any websites of any third parties, or for any breach of security associated with the transmission of information via the Website or through any website associated with our Website.
            li We will not be liable for any loss and do not accept any liability to you for use of our Services, including, but not limited to any loss, damage or claim arising out of unauthorized access to your information stored on our Website, any unauthorized actions of third parties, including, but not limited to, the use of viruses, phishing or other means to attack the Website or Services.
            li We give no warranty that the Website or the server that makes it available are free of viruses or bugs, that its content is accurate, that it will be uninterrupted, or that defects will be corrected. We will not be liable for any damages of any kind, from the actions of third parties, which are implemented as such, using the materials and / or information from the Website.
            li We will not be held liable on the basis of contract or tort (including, without limitation, negligence), unless we had intentionally or deliberately misled.
            li Nothing in these Terms shall exclude or limit any liability for death or personal injury caused by negligence, fraudulent misrepresentation or any other liability which may not otherwise be limited or excluded in accordance with English Law.
            li You agree to keep the Company (and each of its officers and related persons) harmless from any claims, demands, actions, losses, costs or expenses, including without limitation to reasonable legal fees, arising from / or in connection with:
              ol
                li utilization and / or in connection to the  Website and Services;
                li any feedback or materials that you provide to us;
                li your violation of these Terms;
                li violation of any rights of any other person or entity.
            li you are obliged to compensation, we will have the right, in our sole discretion, to monitor any action or proceedings (at our expense), and determine whether we want to resolve it.

        li No liability for third-party services and their contents
          ol
            li Using the Website, you can view the content or use services provided by third parties, including links to websites and services of the third parties. We do not keep control, and will not be responsible for the content of third party services, including those that may be misleading, to be incomplete, erroneous, offensive, obscene, etc. for you. In addition, your relationship or correspondence with third parties - solely between you and third parties. We are not responsible for any loss or damage arising from such transactions, and you realize that the use of third parties and interact with third parties is at your own risk.

        li Termination of services
          ol
            li We may at any time in our sole discretion and anticipation modify or terminate, temporarily or permanently, any part of our Services.
            li If you have not saved the data that is stored on the Website, then you may lose access to them, in the case of termination or suspension of our Services.
            li We may suspend or terminate access to the Services at our sole discretion, immediately and without any prior notice, and also we may remove or disable your access to the Website information in the case of your violation hereof.

        li Acceptable use
          ol
            li By accessing or using the Services, you agree that you will not commit any illegal actions, and that you are solely responsible for your actions while using our Services. So far, you agree that you will not:
              ol
                li use our Services in a manner that might interfere with, disrupt, impair or interfere with other users’ using our services in full, or could damage, disable, overburden, or impair the function of our Services in any form;
                li use our Services in any way to participate in any illegal activities, including fraud, money laundering or terrorist activity;
                li use or attempt to use information that is hidden from you, or other user’s information;
                li attempt to open the access to the services or the area of ​​our services, which are closed to access;
                li implement any virus, logic bombs or other harmful materials into the Service;
                li develop any third-party applications that interact with our Services without our prior written consent;
                li provide false, inaccurate or misleading information;
                li encourage or induce any third party to engage in any prohibited activities in accordance with this section.

        li Intellectual property rights
          ol
            li Unless it is indicated otherwise, all the intellectual property rights on the Website and any content provided in connection with our services, are the property of the Company or our licensors, suppliers, and is protected by the applicable intellectual property protection legislation. We do not provide you with any license to use the content of the Website.
            li You acknowledge and agree that the material and content of the Website is made available for personal, lawful, non-commercial use, and you can only use such material and content for the purpose of use of the Website. In addition, you should keep in mind that any other use of the materials from the Website is strictly prohibited and you agree not to violate or not to allow others to violate our intellectual property rights.
            li You agree to retain all copyright and other proprietary rights in the material contained within the Website from any copies, and possible damage to the rights of intellectual property of the Company.
            li You may not sell or modify the Website Materials or reproduce, publicly perform, distribute or otherwise use these materials in any way for any public or commercial purpose. Use of the materials on any other Website or file sharing or similar services for any purpose is prohibited.
            li You may not copy material or content contained on the Website or available through the Website without our written permission. Any rights to use the materials contained on the Website not expressly granted herein are protected by the Company in full.

        li Customer feedback and recommendations
          ol
            li The Company is constantly improving its Services and Website. If you have ideas or suggestions regarding improvements or additions to the Company's Services or Website, the Company would like to hear them. However, any recommendations will be subject to these conditions.
            li It is prohibited to disclose the ideas and opinions, as well as materials and information related to the Company, subsidiaries, affiliated companies, officers, directors, managers, members, shareholders, employees and agents, successors, assigns, representatives of the Company. All the above information is subject to the obligation of confidentiality.
            li All your ideas and recommendations that are the subject to intellectual property rights, are deemed to be transferred to the Company for commercial use (right of non-exclusive perpetual worldwide use). In addition, you waive any and all rights to the maximum extent allowed under English Law.
            li You also acknowledge that Nodio Technologies LLP can use the work and materials you suggested.
            li We reserve the right to remove any ads on the Website, without warning and explanation.

        li Contact us
          ol
            li You can contact us using the following means of communication: email: 
              a.link(
                href="mailto:sayhello@nodio.net"
                title="sayhello@nodio.net"
                target="_blank"
              ) sayhello@nodio.net
              |  or contact form at 
              a.link(
                href="https://nodio.net/#contacts"
                title="Contacts"
                target="_blank"
                ) https://nodio.net/#contacts.
              ol
                li For any purpose other than technical support queries by mail or courier:
                  p Nodio Technologies LLP, 4 South Molton Street, London, UK, W1K 5RG.

                li For technical support requests: submit your request using our support tool at the following address: https://nodio.net/#contacts  
            li Any message sent to us will be deemed received in accordance with para. 2.7. here of.

        li Force majeure
          ol
            li If by reason of force majeure you or the Company cannot fulfill the Terms, such failure shall not be considered a violation of these Terms and shall not be responsible for him.

        li Miscellaneous provisions
          ol
            li These Terms constitute the entire agreement between you and the Company with respect to the conditions hereof and these Terms supersede and replace any prior agreements between you and the Company.
            li You may not assign any of your rights or obligations under these Terms without our prior written consent.
      p.text.right Nodio Technologies LLP