#sidebar
  a.menu-link.logo.menu-element(href="/")
    svg
      use(xlink:href="#logo")
    .logo-text(
      data-text="Nodio"
    )
  ul.menu
    //- li.menu-item.menu-element
      a.menu-link(
        href="#video-problem"
        data-text="Problem"
      )
        .line
    //- li.menu-item.menu-element
      a.menu-link(
        href="#video-vision"
        data-text="Vision"
      )
        .line
    li.menu-item.menu-element
      a.menu-link(
        href="#product"
        data-text="Product"
      )
        .line
    li.menu-item.menu-element
      a.menu-link(
        href="#xana"
        data-text="Xana"
      )
        .line
    li.menu-item.menu-element
      a.menu-link(
        href="#dapps"
        data-text="Dapps"
      )
        .line
    li.menu-item.menu-element
      a.menu-link(
        href="#team"
        data-text="Team"
      )
        .line
    li.menu-item.menu-element
      a.menu-link(
        href="#contacts"
        data-text="contacts"
      )
        .line