svg#svg-sprite(
  version='1.0',
  xmlns='http://www.w3.org/2000/svg',
  xmlns:xlink='http://www.w3.org/1999/xlink',
  xml:space='preserve'
)
  defs
    radialGradient#radial-gradient(
      r="50%"
      fx="50%"
      fy="50%"
      cx="50%"
      cy="50%"
    )
      stop(
        offset="0%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0.08;"
      )
      stop(
        offset="100%"
        style="stop-color:rgba(23,229,178,1); stop-opacity: 0;"
      )

    linearGradient#top-left-gradient(
      x1="100%"
      y1="100%"
      x2="0"
      y2="0%"
    )
      stop(
        offset="0%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0.08;"
      )
      stop(
        offset="55%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0"
      )
    linearGradient#top-right-gradient(
      x1="0%"
      y1="100%"
      x2="100%"
      y2="0%"
    )
      stop(
        offset="0%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0.08;"
      )
      stop(
        offset="55%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0"
      )
    linearGradient#bottom-left-gradient(
      x1="100%"
      y1="0%"
      x2="0%"
      y2="100%"
    )
      stop(
        offset="0%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0.08;"
      )
      stop(
        offset="55%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0"
      )
    linearGradient#bottom-right-gradient(
      x1="0%"
      y1="0%"
      x2="100%"
      y2="100%"
    )
      stop(
        offset="0%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0.08;"
      )
      stop(
        offset="55%"
        style="stop-color: rgba(23,229,178,1); stop-opacity: 0"
      )
  symbol#glow-svg(viewbox='0 0 100 100')
    circle(
      cx="50"
      cy="50"
      r="50"
      fill="url(#radial-gradient)"
    )
    path(
      d="M50 50 L50 0 L0 50 Z"
      fill="url(#top-left-gradient)"
    )
    path(
      d="M50 50 L50 0 L100 50 Z"
      fill="url(#top-right-gradient)"
    )
    path(
      d="M50 50 L50 100 L0 50 Z"
      fill="url(#bottom-left-gradient)"
    )
    path(
      d="M50 50 L50 100 L100 50 Z"
      fill="url(#bottom-right-gradient)"
    )

  symbol#rect(viewbox='0 0 60 60')
    rect(x="0", y="0", width="60", height="60")
  symbol#logo(viewbox='0 0 60 60')
    path(d='M94.503,31.44l-4.344-5.934h-1.53v8.548h1.491v-6.1l4.435,6.1h1.439v-8.548h-1.491V31.44z')
    path(d='M106.868,25.366c-2.549,0-4.344,1.87-4.344,4.421c0,2.55,1.795,4.42,4.344,4.42c2.547,0,4.344-1.87,4.344-4.42 C111.212,27.236,109.415,25.366,106.868,25.366z M106.868,32.876c-1.721,0-2.816-1.333-2.816-3.088c0-1.769,1.095-3.09,2.816-3.09 c1.707,0,2.815,1.321,2.815,3.09C109.683,31.542,108.575,32.876,106.868,32.876z')
    path(d='M120.916,25.507h-3.16v8.548h3.16c2.65,0,4.446-1.756,4.446-4.267C125.361,27.275,123.565,25.507,120.916,25.507z M120.916,32.735h-1.669v-5.908h1.669c1.898,0,2.918,1.307,2.918,2.961C123.833,31.401,122.763,32.735,120.916,32.735z')
    path(d='M131.904,34.054h1.491v-8.548h-1.491V34.054z')
    path(d='M144.266,25.366c-2.549,0-4.344,1.87-4.344,4.421c0,2.55,1.796,4.42,4.344,4.42c2.547,0,4.344-1.87,4.344-4.42 C148.611,27.236,146.814,25.366,144.266,25.366z M144.266,32.876c-1.721,0-2.816-1.333-2.816-3.088c0-1.769,1.095-3.09,2.816-3.09 c1.707,0,2.815,1.321,2.815,3.09C147.081,31.542,145.973,32.876,144.266,32.876z')
    path(d='M0,30l30,30l30-30L30,0L0,30z M30,1.954L48.375,20.33L37.116,31.589l-14.66-14.674v10.372L10.849,38.894L1.954,30L30,1.954 z M30,58.046L11.826,39.871l11.203-11.203l14.513,14.418v-9.968l11.811-11.811L58.046,30L30,58.046z')

  symbol#pagination-active(viewbox='0 0 11 11')
    path(d="M5.9 0.1L5.5 0.5 5.1 0.1l-5 5v0.7l5 5 0.4-0.4 0.4 0.4 5-5V5.1L5.9 0.1zM5.5 9.8L1.2 5.5l4.3-4.3 4.3 4.3L5.5 9.8z" fill="rgba(23,229,178,0.2)")
    rect(x="5" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="10" y="5" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="5" y="10" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="0" y="5" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="5" y="5" width="1" height="1" fill="rgba(23,229,178,1)")
  symbol#pagination-inactive(viewbox='0 0 11 11')
    rect(x="5" y="5" width="1" height="1")
  symbol#next(viewbox='0 0 33 17')
    polygon(points="16.9 16.9 16.1 16.9 0.1 0.9 0.9 0.1 16.5 15.8 32.1 0.1 32.9 0.9 ")
    rect(x="0" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="32" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="16" y="16" width="1" height="1" fill="rgba(23,229,178,1)")
  symbol#close(viewbox='0 0 31 31')
    polygon(points="31,0 30,0 15.5,14.5 1,0 0,0 0,1 14.5,15.5 0,30 0,31 1,31 15.5,16.5 30,31 31,31 31,30   16.5,15.5 31,1")
    rect(x="0" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="30" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="15" y="15" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="0" y="30" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="30" y="30" width="1" height="1" fill="rgba(23,229,178,1)")
  symbol#close-small(viewbox='0 0 19 19')
    polygon(points="19,0 18,0 9.5,8.5 1,0 0,0 0,1 8.5,9.5 0,18 0,19 1,19 9.5,10.5 18,19 19,19 19,18 10.5,9.5 19,1")
    rect(x="0" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="18" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="9" y="9" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="0" y="18" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="18" y="18" width="1" height="1" fill="rgba(23,229,178,1)")
  symbol#faq(viewbox='0 0 6 11')
    polygon(points="0.9 10.9 0.1 10.1 4.8 5.5 0.1 0.9 0.9 0.1 5.9 5.1 5.9 5.9 ")
    rect(x="0" y="10" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="0" y="0" width="1" height="1" fill="rgba(23,229,178,1)")
    rect(x="5" y="5" width="1" height="1" fill="rgba(23,229,178,1)")
  symbol#download(viewbox='0 0 9 9')
    path(d="M8.9,4.1C8.7,4,8.3,4,8.1,4.1L5,7.3V0H4v7.3L0.9,4.1C0.7,4,0.3,4,0.1,4.1S0,4.7,0.1,4.9l4,4C4.2,9,4.4,9,4.5,9 s0.3,0,0.4-0.1l4-4C9,4.7,9,4.3,8.9,4.1z")

  symbol#xana-title(viewbox='0 0 215 38.5')
    path(d="M33.8 0L19 15 4.2 0 0 4.2l14.8 15L0 34.2l4.2 4.2 14.8-15 14.8 15 4.2-4.2 -14.8-15 14.8-15L33.8 0zM89.9 5.8C86.8 3 82.6 1.2 78.1 1.2c-9.8 0-17.7 8.1-17.7 18 0 9.9 8 18 17.7 18 4.5 0 8.7-1.7 11.8-4.6v4.6h5.9v-36h-5.9V5.8zM78.1 31.2c-6.5 0-11.8-5.4-11.8-12s5.3-12 11.8-12 11.8 5.4 11.8 12S84.6 31.2 78.1 31.2zM208.2 1.2v4.6c-3.1-2.9-7.3-4.6-11.8-4.6 -9.8 0-17.7 8.1-17.7 18 0 9.9 8 18 17.7 18 4.5 0 8.7-1.7 11.8-4.6v4.6h5.9v-36H208.2zM196.4 31.2c-6.5 0-11.8-5.4-11.8-12s5.3-12 11.8-12c6.5 0 11.8 5.4 11.8 12S202.9 31.2 196.4 31.2zM137.2 1.2c-4.5 0-8.7 1.7-11.8 4.6V1.2h-5.9v18 3 15h5.9v-15 -3c0-6.6 5.3-12 11.8-12s11.8 5.4 11.8 12v18h5.9v-18C155 9.3 147 1.2 137.2 1.2z")

  symbol#socials(viewbox='0 0 120 61')
    path(d="M30.9,60.9h-0.7l-30-30v-0.7l30-30h0.7l30,30v0.7L30.9,60.9zM1.2,30.5l29.3,29.3l29.3-29.3L30.5,1.2L1.2,30.5z")
    rect(x="0" y="30" width="1" height="1" fill="rgba(23,229,178,1)" stroke="transparent")
    rect(x="30" y="0" width="1" height="1" fill="rgba(23,229,178,1)" stroke="transparent")
    rect(x="30" y="60" width="1" height="1" fill="rgba(23,229,178,1)" stroke="transparent")
    rect(x="60" y="30" width="1" height="1" fill="rgba(23,229,178,1)" stroke="transparent")
    rect(x="60" y="30" width="60" height="1" fill="transparent" stroke="transparent")
  symbol#facebook(viewbox='0 0 24 24')
    path(d="M8.8 24h4.8c0 0 0-6.6 0-12h3.6l0.4-4.8h-3.8V5.3c0-0.9 0.6-1.2 1.1-1.2 0.4 0 2.7 0 2.7 0V0l-3.7 0C9.7 0 8.8 3.1 8.8 5v2.2H6.4V12h2.4C8.8 17.4 8.8 24 8.8 24z")
  symbol#twitter(viewbox='0 0 24 24')
    path(d="M22.6 3.3c-0.9 0.5-1.9 0.9-2.9 1.1 -0.8-0.9-2-1.4-3.4-1.4 -2.5 0-4.6 2-4.6 4.5 0 0.4 0 0.7 0.1 1C8 8.4 4.6 6.6 2.3 3.8 1.9 4.5 1.7 5.3 1.7 6.1c0 1.6 0.8 3 2.1 3.8C3 9.9 2.3 9.7 1.7 9.3c0 0 0 0 0 0.1 0 2.2 1.6 4 3.7 4.5C5 13.9 4.6 14 4.1 14c-0.3 0-0.6 0-0.9-0.1 0.6 1.8 2.3 3.1 4.3 3.2C6 18.3 4 19 1.8 19c-0.4 0-0.7 0-1.1-0.1 2 1.3 4.5 2 7.1 2C16.3 21 21 14.1 21 8.1c0-0.2 0-0.4 0-0.6 0.9-0.6 1.7-1.4 2.3-2.4 -0.8 0.4-1.7 0.6-2.7 0.7C21.6 5.3 22.3 4.4 22.6 3.3z")
  symbol#slack(viewbox='0 0 24 24')
    path(d="M23.3 9.7c0-0.1 0-0.3 0-0.4 0 0-0.1 0-0.1 0 0-0.1 0-0.2 0-0.3 0 0-0.1 0-0.1 0 0-0.1 0-0.2 0-0.3 0 0-0.1 0-0.1 0 0-0.1 0-0.3 0-0.4 -1.2-3.4-2.5-6.6-5.8-7.9 -0.1 0-0.3 0-0.4 0 0 0 0-0.1 0-0.1 -0.1 0-0.2 0-0.3 0 0 0 0-0.1 0-0.1 -0.2 0-0.3 0-0.5 0C15.4 0 14.6 0 13.7 0c-0.2 0.2-0.5 0-0.9 0.1 -1 0.2-1.9 0.4-2.9 0.5 -1.3 0.4-2.7 0.9-4 1.3 0 0 0 0.1 0 0.1C5.7 2.1 5.5 2.2 5.3 2.2c0 0 0 0.1 0 0.1 -0.1 0-0.1 0-0.2 0 0 0 0 0.1 0 0.1 -0.1 0-0.1 0-0.2 0 0 0 0 0.1 0 0.1 -0.1 0-0.1 0-0.2 0 0 0 0 0.1 0 0.1 -0.1 0-0.1 0-0.2 0 0 0 0 0.1 0 0.1 -0.1 0-0.1 0-0.2 0L4.2 2.9c-0.1 0-0.1 0-0.2 0C4 2.9 3.9 3 3.9 3.1c-0.1 0-0.1 0-0.2 0 0 0 0 0.1 0 0.1 -0.1 0-0.2 0.1-0.3 0.1 0 0.1-0.1 0.1-0.1 0.2 -0.1 0-0.1 0-0.2 0C3.1 3.5 3 3.6 2.9 3.7c-0.1 0-0.1 0-0.2 0C2.6 3.9 2.5 4 2.3 4.2 2.1 4.4 1.8 4.6 1.6 4.9c0 0.1 0 0.1 0 0.2C1.5 5.1 1.4 5.2 1.3 5.2c0 0.1 0 0.1 0 0.2 -0.1 0-0.1 0.1-0.2 0.1C0.9 6 0.6 6.5 0.4 7c0 0.1 0 0.3 0 0.4 0 0-0.1 0-0.1 0 0 0.1 0 0.3 0 0.4 0 0-0.1 0-0.1 0 0 0.2 0 0.4 0 0.7 -0.1 0.3-0.3 1.7-0.1 2.2 0 0 0.1 0 0.1 0 0.1 0.6 0.1 1.3 0.2 1.9 0 0 0.1 0 0.1 0 0 0.2 0 0.3 0 0.5 0 0 0.1 0 0.1 0 0 0.1 0 0.3 0 0.4 0 0 0.1 0 0.1 0 0 0.1 0 0.3 0 0.4 0 0 0.1 0 0.1 0 0 0.1 0 0.3 0 0.4 0 0 0.1 0 0.1 0 0 0.1 0 0.2 0 0.3 0 0 0.1 0 0.1 0 0 0.1 0 0.3 0 0.4 0 0 0.1 0 0.1 0 0 0.1 0 0.2 0 0.3 0 0 0.1 0 0.1 0 0 0.1 0 0.2 0 0.3 0 0 0.1 0 0.1 0 0 0.1 0 0.3 0 0.4 1.2 3.5 2.5 6.5 6 7.8 0.3 0 0.6 0.1 0.9 0.1 0 0 0 0.1 0 0.1 0.3 0 0.5 0 0.8 0 0 0 0 0.1 0 0.1 0.5 0 1 0 1.5 0 0 0 0-0.1 0-0.1 0.3 0 0.6 0 1 0 0 0 0-0.1 0-0.1 0.2 0 0.4 0 0.6 0 0 0 0-0.1 0-0.1 0.2 0 0.4 0 0.6 0 0 0 0-0.1 0-0.1 0.2 0 0.3 0 0.5 0 0 0 0-0.1 0-0.1 0.1 0 0.3 0 0.4 0 0 0 0-0.1 0-0.1 0.1 0 0.3 0 0.4 0 0 0 0-0.1 0-0.1 0.1 0 0.3 0 0.4 0 0 0 0-0.1 0-0.1 0.1 0 0.3 0 0.4 0 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0 0 0-0.1 0-0.1 0.1 0 0.3 0 0.4 0 3.9-1.3 7.2-2.4 8.6-6.3 0-0.3 0.1-0.6 0.1-1 0 0 0.1 0 0.1 0 0-0.5 0-1.1 0-1.6C24 12.4 23.7 11 23.3 9.7zM19 14c-0.6 0.2-1.2 0.4-1.8 0.6 0.2 0.8 0.6 1.3 0.5 2.4 -0.2 0.1-0.2 0.4-0.4 0.6 -0.1 0.1-0.3 0.1-0.5 0.3 -0.9 0-1.1-0.2-1.4-0.8 0 0-0.1 0-0.1 0 0-0.2-0.1-0.4-0.1-0.6 -0.1-0.3-0.3-0.7-0.4-1.1 -0.6 0-1.1 0.3-1.5 0.5 -0.3 0.1-0.6 0.1-0.9 0.2 -0.3 0.1-0.5 0.3-0.9 0.3 0 0.2 0.1 0.3 0.1 0.5 0 0 0.1 0 0.1 0 0 0.1 0 0.2 0 0.3 0.2 0.6 0.4 0.8 0.4 1.7 -0.1 0.1-0.1 0.2-0.2 0.3 0 0-0.1 0-0.1 0 0 0.1-0.1 0.2-0.1 0.3 -0.1 0-0.3 0.1-0.4 0.1 0 0 0 0.1 0 0.1 -0.3 0.1-0.7 0-0.9-0.1 -0.1 0-0.3-0.1-0.4-0.1 -0.1-0.1-0.4-0.7-0.5-0.9 0-0.1 0-0.2 0-0.3 0 0-0.1 0-0.1 0 0-0.1 0-0.2 0-0.3 -0.1-0.2-0.2-0.5-0.3-0.8 -0.6 0.1-1.7 0.7-2.3 0.5 0 0 0-0.1 0-0.1 -0.1 0-0.2 0-0.3 0 0 0 0-0.1 0-0.1 -0.1 0-0.2-0.1-0.3-0.1 0-0.1-0.1-0.2-0.1-0.3 0 0-0.1 0-0.1 0 0-0.1 0-0.1 0-0.2 0 0-0.1 0-0.1 0 -0.1-0.3 0-0.6 0-1 0.2-0.2 0.3-0.4 0.5-0.6 0.6-0.2 1.2-0.4 1.8-0.6 -0.3-1.1-0.6-2.1-0.9-3.2C7 11.9 6.5 12 5.9 12.2c0 0 0 0.1 0 0.1 -0.7 0-0.9 0-1.2-0.4 0 0-0.1 0-0.1 0 0-0.1-0.1-0.2-0.1-0.3 0 0-0.1 0-0.1 0 0-0.4-0.2-0.8 0.1-1.1C4.7 9.9 5.2 10 5.7 9.8c0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0.2-0.1 0.5-0.2 0.8-0.3C6.7 8.7 5.8 7.3 6.4 6.8c0.1-0.6 0.7-0.7 1.4-0.7C7.9 6.3 8 6.3 8.1 6.3c0 0 0 0.1 0 0.1 0.1 0 0.2 0.1 0.3 0.1 0 0.1 0 0.1 0 0.2 0.1 0 0.1 0.1 0.2 0.1C8.7 7.4 8.9 8 9 8.6c0.6 0 1.1-0.3 1.5-0.5C10.9 8 11.2 8 11.5 7.9c0.3-0.1 0.5-0.3 0.9-0.3 0-0.5-0.2-0.8-0.4-1.2 0-0.2-0.1-0.4-0.1-0.7 0 0-0.1 0-0.1 0 0-0.9 0.3-0.8 0.6-1.3 0.1 0 0.3-0.1 0.4-0.1 1.9-0.1 1.2 1.5 2 2.3 0 0 0 0.1 0 0.1 0.2 0 0.3-0.1 0.5-0.1 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0 0 0-0.1 0-0.1 0.3-0.1 0.8 0.1 0.9 0.2 0.3 0.1 0.5 0.3 0.6 0.5 0 0.1 0 0.2 0 0.3 0 0 0.1 0 0.1 0 0 0.7-0.2 0.8-0.4 1.2 -0.7 0.1-1.3 0.6-2 0.6 0.1 0.7 0.5 1.5 0.7 2.2 0 0.1 0 0.2 0 0.3 0 0 0.1 0 0.1 0 0 0.2 0.1 0.4 0.1 0.6 0 0 0.1 0 0.1 0 0 0 0 0.1 0 0.1 0.1-0.1 0.2 0 0.4-0.1 0 0 0-0.1 0-0.1 0.1 0 0.2 0 0.3 0 0.5-0.2 0.8-0.4 1.6-0.4 0.1 0.2 0.4 0.2 0.6 0.4 0.1 0.1 0.1 0.3 0.3 0.5C19.6 13.6 19.4 13.5 19 14zM12 10.3c-0.1 0-0.2 0-0.3 0 -0.6 0.2-1.2 0.4-1.8 0.6 0.3 1 0.6 2 0.9 3.1 0.5 0 0.8-0.2 1.2-0.4 0.1 0 0.2 0 0.3 0 0.6-0.2 1.2-0.4 1.8-0.6 -0.3-1-0.6-2-0.9-3.1C12.7 10 12.4 10.2 12 10.3z")
  symbol#reddit(viewbox='0 0 24 24')
    path(d="M24 11.8c0-1.6-1.3-2.9-2.9-2.9 -0.7 0-1.3 0.2-1.8 0.6 -1.8-1.1-4-1.8-6.4-1.9l1.2-3.9 3.4 0.8c0.1 1.2 1.1 2.2 2.4 2.2 1.3 0 2.4-1.1 2.4-2.4C22.4 3 21.3 2 20 2c-0.9 0-1.7 0.5-2.1 1.3l-4-0.9c-0.3-0.1-0.7 0.1-0.8 0.4l-1.5 4.9C9 7.7 6.5 8.4 4.7 9.5 4.2 9.1 3.6 8.9 2.9 8.9 1.3 8.9 0 10.2 0 11.8c0 1 0.5 1.8 1.2 2.4 0 0.2 0 0.5 0 0.7 0 2 1.2 3.8 3.3 5.2 2 1.3 4.7 2 7.5 2s5.5-0.7 7.5-2c2.1-1.4 3.3-3.2 3.3-5.2 0-0.2 0-0.4 0-0.6C23.5 13.7 24 12.8 24 11.8M20 3.3c0.6 0 1.1 0.5 1.1 1.1 0 0.6-0.5 1.1-1.1 1.1S18.9 5 18.9 4.4C18.9 3.8 19.4 3.3 20 3.3M6.8 13.6c0-0.9 0.8-1.6 1.6-1.6 0.9 0 1.6 0.7 1.6 1.6 0 0.9-0.7 1.6-1.6 1.6C7.6 15.2 6.8 14.4 6.8 13.6M16 18.3c-0.8 0.8-2.1 1.2-3.9 1.2 0 0 0 0 0 0 0 0 0 0 0 0 -1.8 0-3.1-0.4-3.9-1.2 -0.3-0.3-0.3-0.7 0-0.9 0.3-0.3 0.7-0.3 0.9 0 0.6 0.6 1.6 0.9 3 0.9 0 0 0 0 0 0 0 0 0 0 0 0 1.4 0 2.4-0.3 3-0.9 0.3-0.3 0.7-0.3 0.9 0C16.2 17.6 16.2 18.1 16 18.3M15.6 15.2c-0.9 0-1.7-0.7-1.7-1.6s0.8-1.6 1.7-1.6c0.9 0 1.6 0.7 1.6 1.6C17.2 14.4 16.5 15.2 15.6 15.2")
  symbol#github(viewbox='0 0 24 24')
    path(d="M3.6 11c0 0 0.4 1 0.4 1 1 1.8 2.8 2.9 6 3.2 -0.4 0.3-1 1-1.1 1.8 -0.6 0.4-1.7 0.5-2.6 0.2 -1.2-0.4-1.7-2.9-3.6-2.5 -0.4 0.1-0.3 0.3 0 0.6C3.4 15.5 3.9 16 4.3 17c0.3 0.8 1 2.1 3.1 2.1 0.8 0 1.4-0.1 1.4-0.1s0 1.9 0 2.7c0 0.9-1.2 1.1-1.2 1.5 0 0.2 0.4 0.2 0.7 0.2 0.6 0 1.9-0.5 1.9-1.4 0-0.7 0-3.1 0-3.5 0-0.9 0.5-1.2 0.5-1.2s0.1 4.9-0.1 5.6c-0.2 0.8-0.6 0.7-0.6 1 0 0.5 1.5 0.1 2-1 0.4-0.9 0.2-5.7 0.2-5.7l0.4 0c0 0 0 2.2 0 3.2 0 1-0.1 2.4 0.5 3 0.4 0.4 1.7 1.1 1.7 0.5 0-0.4-0.7-0.7-0.7-1.7v-4.7c0.6 0 0.5 1.6 0.5 1.6l0 2.9c0 0-0.1 1.1 1.1 1.5 0.4 0.2 1.4 0.2 1.4-0.1 0-0.3-1.1-0.7-1.2-1.5 0-0.5 0-0.8 0-3 0-2.2-0.3-3-1.3-3.6 3.1-0.3 5-1.1 5.9-3.2 0.1 0 0.4-1 0.3-1 0.2-0.8 0.3-1.7 0.3-2.8 0-3-1.4-4-1.7-4.5 0.4-2.3-0.1-3.3-0.3-3.6 -0.8-0.3-2.8 0.7-3.8 1.5C13.9 1 10.2 1 8.8 1.6 6.2-0.2 4.9 0.1 4.9 0.1S4 1.7 4.6 4C3.8 5.1 3.2 5.9 3.2 7.9 3.2 9.1 3.3 10.1 3.6 11L3.6 11z")
  symbol#btt(viewbox='0 0 24 24')
    path(d="M7.9 6.6H2.3L0 17.2h6.2c2.7 0 3.8-1.7 3.8-3.2 0-0.9-0.5-1.9-1.5-2.1 1.3-0.1 2.4-1.4 2.4-2.7C10.9 7.9 9.9 6.6 7.9 6.6zM6 14.9H3.3L3.7 13h2.7c0.5 0 0.9 0.4 0.9 0.8C7.3 14.4 6.8 14.9 6 14.9zM6.8 10.7H4.2l0.4-1.8h2.5C7.6 8.9 8 9.2 8 9.7 8 10.1 7.7 10.7 6.8 10.7zM15.9 7.4h-2.5L13 9.5h-1.3l-0.5 2.1h1.3L11.8 15c0 0.2 0 0.5 0 0.6 0 1.2 1.1 1.8 2.6 1.8 0.5 0 1-0.1 1.3-0.3l0-2c-0.1 0.1-0.3 0.1-0.5 0.1 -0.5 0-0.7-0.3-0.7-0.6 0-0.1 0-0.2 0-0.4l0.6-2.6h1.6L17 9.5h-1.6L15.9 7.4zM22 11.6h1.6L24 9.5h-1.6l0.5-2.1h-2.5L20 9.5h-1.3l-0.5 2.1h1.3L18.7 15c0 0.2 0 0.5 0 0.6 0 1.2 1.1 1.8 2.6 1.8 0.5 0 1-0.1 1.3-0.3l0-2c-0.1 0.1-0.3 0.1-0.5 0.1 -0.5 0-0.7-0.3-0.7-0.6 0-0.1 0-0.2 0-0.4L22 11.6z")