#audio-block
  a#crowdsale.modal-link(
    href="#modal-crowdsale"
  ) Crowdsale
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right

  .audio_switcher
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
    .vizualizer-bar
  audio#audio(
    loop
    preload="auto"
  )
    source(
      src="media/background.mp3"
      type="audio/mpeg"
    )

  .hamburger-menu.modal-link(
    href="#modal-menu"
  )
    .hamburger-wrap
      .lines
      .point.top.left
      .point.top.right
      .point.center.left
      .point.center.right
      .point.bottom.left
      .point.bottom.right