meta(charset="UTF-8")
meta(
  http-equiv="X-UA-Compatible"
  content="IE=edge,chrome=1"
)
meta(
  name="viewport"
  content="width=device-width, initial-scale=1"
)
//- meta(
//-   name="apple-mobile-web-app-capable"
//-   content="yes"
//- )
//- meta(
//-   name="apple-touch-fullscreen"
//-   content="yes"
//- )
meta(
  name="description"
  content="Nodio"
)
meta(
  http-equiv="x-dns-prefetch-control"
  content="on"
)
link(
  rel="dns-prefetch"
  href="http://ip-api.com"
)
include favicon.pug
title Nodio